<header class="App-header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span class="navbar-brand" href=""></span>
            <div>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                      <button style="background: none; border: none;"
                            (click)="logOut()">Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
