<app-navbar></app-navbar>
<div class="container mt-3">
    <h1 class="text-center">View Employee</h1>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="border rounded p-4  w-50">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{employee.first_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{employee.last_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{employee.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Gender</th>
                        <td>{{employee.gender}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Salary</th>
                        <td>$ {{employee.salary}}</td>
                    </tr>
                </tbody>
            </table>
<!--            <div class="d-flex align-items-center justify-content-center mt-4">-->
          <div class="d-flex align-items-center justify-content-around mt-4">
                <button style="margin-right: 5px"
                    class="btn btn-primary flex-grow-1"
                    [routerLink]="['/edit', employee.id]">
                    Update
                </button>
                <Button class="btn btn-danger flex-grow-1" [routerLink]="['/']" >
                    Cancel
                </Button>
            </div>
        </div>
    </div>
</div>
